/* Estilos globales */
body { 
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    color: #ffffff; 
    margin: 0;
    padding: 20px;
}
.logo {
    text-align: right;
}

header {
    background-color: #ffffff; 
    color: white; 
    padding: 1px 0; 
    text-align: center;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
}

nav ul li {
    display: inline; 
    margin: 0 15px; 
}

nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
}

section {
    background: white; 
    margin: 15px 0; 
    padding: 15px; 
    border-radius: 5px; 
}

footer {
    text-align: center; 
    margin-top: 20px; 
}

.product-promotion {
    text-align: center;
    margin: 40px 0;
}

.product-card {
    background: #fff; 
    border: 2px solid #FFD700; 
    border-radius: 10px;
    padding: 20px;
    max-width: 300px; 
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.product-card img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

.product-card h3 {
    color: #333;
    margin: 10px 0;
    font-size: 1.5em;
}

.product-card p {
    font-size: 1em;
    color: #555;
    margin: 10px 0;
}

.price {
    font-size: 1.3em;
    color: #FFD700;
    margin: 10px 0;
}

.buy-button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #45a049;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    /* Navegación en dispositivos móviles */
    nav ul {
        text-align: center;
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .product-card {
        max-width: 90%;
        padding: 15px;
    }

    .content h1 {
        font-size: 1.8em;
    }

    .content p {
        font-size: 1em;
    }

    .buy-button {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    /* Estilos adicionales para pantallas muy pequeñas */
    .product-card h3 {
        font-size: 1.2em;
    }

    .price {
        font-size: 1.1em;
    }

    .buy-button {
        font-size: 0.8em;
        padding: 6px 12px;
    }

    .content h1 {
        font-size: 1.5em;
    }

    .content p {
        font-size: 0.9em;
    }
}
